body{
    background-size: cover;
}
.heading{
    font-size:30px;
    width: 100%;
    margin: 0px;
    font-weight: bolder;
    font-family: Times New Roman;
}
.start{
    font-size: 24px;
    font-style: italic;
}
#number_of_objects, .status{
    font-size:18px;
    font-weight: bold;
}
.footer{
    position:fixed;
    color: black;
    bottom:0;
    width:100%;
    background-color:white;
    line-height:3;
    text-align: center;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}